@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

body{
  background: #36D1DC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Montserrat', sans-serif;
}
.nav-heading{
  font-size: 7rem;
  font-weight: 600;
  color: #fff;
  opacity: 0.6;
  /* width:50vw; */
  text-align: center;
  /* margin: auto; */
  letter-spacing: 4rem;
  padding-left: 4rem;
  max-width: 100%;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
.nav-items ul{
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media(max-width: 900px){
  .nav-heading{
    font-size: 5rem;
    letter-spacing: 2rem;
    padding-left: 2rem;
  }
}

@media(max-width: 600px){
  .nav-heading{
    font-size: 3rem;
    letter-spacing: 1rem;
  }
}