.room{
    width: 95%;
    margin: 5% auto;
    border: 5px solid #0f3057;
    border-radius: 25px;
    text-align: center;
}
.connect-option{
    background-color: rgba(255,255,255,0.5);
    border-radius: 20px;
    padding: 5%;
    width: 90%;
    max-width: 1000px;
    margin: 20vh auto;
}